.intro__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  margin: 0 0 33px 0;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    line-height: 26px;
    margin: 0 0 34px 0;
    max-width: 100%;
  }
}
