.intro {
  min-width: 984px;
  max-width: 1280px;
  padding: 0;
  margin: 0 auto 92px auto;
}

@media screen and (max-width:1279px) {
  .intro {
    min-width: 928px;
    max-width: 1024px;
  }
}

@media screen and (max-width:1023px) {
  .intro {
    min-width: 720px;
    max-width: 720px;
    margin: 0 auto 88px auto;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    min-width: 288px;
    max-width: 288px;
    margin: 0 auto 64px auto;
  }
}
