.page {
  box-sizing: border-box;
  padding: 0;
  background-color: #2A2C2F;
  min-width: 1280px;
  margin: 0;
  font-family: 'Arial', sans-serif;
  border: 1px solid red;
}

.header {
  position: relative;
  margin: 28px auto 0;
  padding: 0;
  max-width: 1184px;
  height: 52px;
  background-color: #2A2C2F;
}

.header__logo {
    position: absolute;
    top: 28px;
    left: 48px;
    background-image: url(./img/__logo.svg);
    width: 176px;
    height: 52px;
    border: 1px solid red;
}