.page {
  box-sizing: border-box;
  padding: 28px 0 0 0;
  background-color: #2A2C2F;
  min-width: 1280px;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: white;
}

.header {
  position: relative;
  margin: 0 auto 56px auto;
  padding: 0;
  max-width: 1184px;
  min-height: 52px;
  background-color: #2A2C2F;
}

.header__logo {
  position: absolute;
  top: 0;
  left:0;
  background-image: url("../img/header-logo.svg");
  width: 176px;
  height: 52px;
  z-index: 2;
}

.header__lang-link {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.header__lang-link_lang_ru {
  position: absolute;
  top: 18px;
  right: 47px;
}

.header__lang-link_lang_en {
  position: absolute;
  top: 18px;
  right: 0;
}